<%= form_with model: @trip, class: 'create-trip' do |f| %> 
  <% if @trip.errors.any? %>
  <ul class="errors">
    <% @trip.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

  <div class="row">
     <div class="cell"> <%= f.label :date %>  </div>
    <div class="cell"><%= f.date_field :date %>  </div>
  </div>

  <div class="row">
    <div class="cell"><%= f.label :cost %>  </div>
    <div class="cell"><%= f.text_field :cost %>  </div>
  </div>

  <div class="row">
    <div class="cell"><%= f.label :rating %>  </div>
    <div class="cell"><%= f.select :rating, [nil, 1, 2, 3, 4, 5] %>  </div>
  </div>

  <div class="row">
    <%= f.submit "#{action_name} Trip", class: 'link' %>
  </div>
<% end %>
