<%= form_with model: @trip, class:'trip-form' do |f| %>
  <div>
    <%= f.label :date%>
    <%= f.text_field :date %>
  </div>
  <div>
    <%= f.label :rating%>
    <%= f.text_field :rating %>
  </div>
    <div>
    <%= f.label :cost%>
    <%= f.text_field :cost %>
  </div>
    <%= f.submit "Submit"%>
<% end %>