<div class="trip-card">
  <div class="column">
    <h3>Passenger</h3>
    <h4><%= @trip.passenger.name%></h4>
  </div>
  <div class="column"
    ><h3>Date</h3>
    <h4><%= @trip.date %></h3>
  </div>
  <div class="column">
    <h3>Cost</h3>
    <h4>$<%= @trip.cost %></h3>
  </div>
  <div class="column">
    <h3>Driver</h3>
    <h4><%= @trip.driver.name %></h3>
  </div>

  <%= form_with model: @trip, class: 'column' do |f| %> 
    <% if @trip.errors.any? %>
    <ul class="errors">
      <% @trip.errors.each do |column, message| %>
        <li>
          <strong><%= column.capitalize %></strong> <%= message %>
        </li>
      <% end %>
    </ul>
    <% end %>

    <div class="row">
      <div class="cell"><h3><%= f.label :rating %></h3></div>
      <div class="cell"><h4><%= f.select :rating, [nil, 1, 2, 3, 4, 5] %> <h3></div>
    </div>

    <div class="row">
      <%= f.submit "Update Trip", class: 'link'%>
    </div>
<% end %>
</div>

<%= link_to "Return to Passenger Details", passenger_path(@trip.passenger.id), :method => :get, class: 'link' %>
