<div class="trip-card">
  <div class="column">
    <h3>Passenger</h3>
    <h4><%= @trip.passenger.name%></h4>
  </div>
  <div class="column"
    ><h3>Date</h3>
    <h4><%= @trip.date %></h3>
  </div>
  <div class="column">
    <h3>Cost</h3>
    <h4>$<%= @trip.cost %></h3>
  </div>
  <div class="column">
    <h3>Driver</h3>
    <h4><%= @trip.driver.name %></h3>
  </div>
  <% if @trip.rating != nil %>
    <div class="column"><h3>Rating</h3><h4><%= @trip.rating %></h3></div>
  <% end %>
  <div class="column"><%= link_to "Update Trip Rating", edit_passenger_trip_path(@trip), :method => :get, class: 'link' %></div>
  <div class="column"><%= link_to "Delete Trip", passenger_trip_path(@trip), :method => :delete, class: 'link', data: {confirm: "Are you sure you would like to delete this trip?"} %></div>
</div>


<%= link_to "See Passenger Details", passenger_path(@trip.passenger.id), :method => :get, class: 'link' %>
<%= link_to "See Driver Details", driver_path(@trip.driver.id), :method => :get, class: 'link' %>