<%= form_with model: @passenger, class:'passenger-form' do |f| %>
  <div class="row">
    <div class="cell"><%= f.label :name%></div>
    <div class="cell"><%= f.text_field :name %></div>
  </div>
  <div class="row">
    <div class="cell"><%= f.label :phone_num%></div>
    <div class="cell"><%= f.text_field :phone_num %></div>
  </div>
  <div class="row">
    <%= f.submit "Submit", class: 'link'%>
  </div>
<% end %>