<div class="todo_card">
  <h2><%= @passenger[:name]%></h2>
  <br>
  <p><%= @passenger[:phone_num]%></p>
  <p>Running Total:</p>
  <%# RESOURCE: https://apidock.com/rails/ActiveRecord/Calculations/sum %>
  <p> 
  <p> <%= @passenger.sum.nil? ? "No Trips": @passenger.sum %>
 </p>
  <p>Trips:</p>
<table>                         
  <tr>                          
    <th>Date</th>
    <th>ID</th>
    <th>Cost</th>
  </tr>
<% @passenger.trips.each do |trip| %>  
  <tr>
    <td><%= trip.date %></td>
    <td><%= trip.id %></td>
    <td><%= trip.cost %></td>
    <td><%= link_to "Trip Details", passenger_trips_path(trip.passenger, trip.id), :method => :get%>  </td>
  </tr>
<% end %>                       
</table> 
<%= link_to 'Add Trip', new_passenger_trip_path(@passenger.id) %>
<%= link_to "Edit Passenger", edit_passenger_path(@passenger.id), :method => :get%>
<%= link_to "Delete", passenger_path(@passenger.id),:method => :delete%>
<p><%= link_to "Return to Passenger List", passengers_path, :method => :get%> </p> 
</div>