<div class="passenger_card">
  <h2><%= @passenger[:name]%></h2>
  <br>
  <p><%= @passenger[:phone_num]%></p>
  <div class="total">
  <h2>Running Total</h2>
  <%# RESOURCE: https://apidock.com/rails/ActiveRecord/Calculations/sum %>
  <p class='value'> <%= @passenger.sum.nil? ? "No Trips": "$ #{@passenger.sum}" %>
 </p>
 </div>

  <table>                       
    <tr>                          
      <th>Date</th>
      <th>ID</th>
      <th>Cost</th>
      <th>Additional Details</th>
    </tr>
  <% @passenger.trips.each do |trip| %>  
    <tr>
      <td><%= trip.date %></td>
      <td><%= trip.id %></td>
      <td><%= trip.cost %></td>
      <td><%= link_to "Trip Details", passenger_trip_path(trip.passenger, trip.id), :method => :get, class: 'table-link'%> </td>
    </tr>
  <% end %>                       
  </table>
  <div class="button-row"> 
    <%= link_to "Add Trip", passenger_trips_path(@passenger.id), :method => :post, class: 'link' %>
    <%= link_to "Edit Passenger", edit_passenger_path(@passenger.id), :method => :get, class: 'link' %>
    </div>  <div class="button-row">
    <%= link_to "Delete", passenger_path(@passenger.id),:method => :delete, class: 'link', data: {confirm: "Are you sure you would like to delete #{@passenger.name}?"} %>
    <%= link_to "Return to Passenger List", passengers_path, :method => :get, class: 'link' %>
  </div> 
</div>