<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class="all">
<header>
    <h1>Welcome to Ride Share</h1>
  </header>
  <body>
  <header>
    <nav class="mainnav">
      <ul class="navtitles">
        <li><%= link_to 'Add a Passenger', new_passenger_path %></li>
        <li><%= link_to 'All Passengers', passengers_path %></li>
        <li>HOLD FOR ADD DRIVER</li>
        <li>HOLD FOR ALL DRIVERS</li>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
  <footer>
    <p><i>Always read the fine print.</i></p>
  </footer>
  <div>
</html>
