<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div class="all">
<header>
    <h1>Welcome to Ride Share</h1>
  </header>
  <body>
  <header>
    <nav class="mainnav">
      <ul class="navtitles">
        <li>HOLD</li>
        <li>HOLD</li>
        <li>HOLD</li>
        <li>HOLD</li>
      </ul>
    </nav>
  </header>
    <%= yield %>
  </body>
  <footer>
    <p>Always read the fine print.</p>
  </footer>
  <div>
</html>
