<!DOCTYPE html>
<html>
  <head>
    <title>RideShareRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div class="all">
  <header class="titlemain">
    <h1>Ride Share Rails</h1>
    <nav class="mainnav">
      <ul class="navtitles">
        <li>
          Holder
        </li>
        <li>
          Holder
        </li>
      </ul>
    </nav>
  </header>
  <main class="content">
    <%= yield %>
  </main>
  </div>
  <footer>
  <p>Like and subscribe.</p>
  </footer>
</html>
